@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Sriracha&family=Taviraj:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    scroll-behavior: smooth;
}

.project-style:hover{
    filter: brightness(100%);
}

.project-style{
    filter:brightness(40%)
}

.loading-picture{
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, 200px, 0);
    }
  }